In [1]:
import pandas as pd
import numpy as np

**PART A**

In [2]:
transactions=pd.read_csv("/kaggle/input/initai/transactions.csv")
products=pd.read_csv("/kaggle/input/initai/products.csv")
customers=pd.read_csv("/kaggle/input/initai/customers.csv")

In [3]:
print(transactions.shape)

(10015, 7)

In [4]:
transactions.dtypes

transaction_id      int64
customer_id         int64
product_id          int64
quantity          float64
price             float64
timestamp          object
payment_method     object
dtype: object

In [5]:
transactions.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer

In [6]:
print(products.shape)

(150, 5)

In [7]:
products.dtypes

product_id        int64
product_name     object
category         object
supplier_id       int64
cost_price      float64
dtype: object

In [8]:
products.head(3)

   product_id   product_name category  supplier_id  cost_price
0           1  Product_OFF_0     Toys           28      113.16
1           2  Product_SPO_1    Books           43      166.06
2           3  Product_SPO_2    Books           47      128.13

In [9]:
customers.shape

(2000, 6)

In [10]:
customers.dtypes

customer_id        int64
customer_name     object
email             object
signup_date       object
country           object
age              float64
dtype: object

In [11]:
customers.head(3)

,customer_id,customer_name,email,signup_date,country,age
0,1,Customer41,customer410@yahoo.com,2022-01-28,UK,30.0
1,2,Custome41,custome411@email.com,2023-10-28,Mexico,29.0
2,3,customer41,customer412@email.com,2023-04-05,Australia,69.0

In [12]:
print(transactions.isnull().sum())
print()
print(products.isnull().sum())
print()
print(customers.isnull().sum())

transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
dtype: int64

product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

In [13]:
transactions.duplicated(subset=['transaction_id'])

0        False
1        False
2        False
3        False
4        False
         ...
10010    False
10011    False
10012    False
10013    False
10014    False
Length: 10015, dtype: bool

In [14]:
transactions.duplicated(subset=['transaction_id']).sum()

15

In [15]:
print(transactions['timestamp'].min())
print(transactions['timestamp'].max())

2023-01-01 00:39:00
2024-12-31 22:18:00

In [16]:
transactions['timestamp']=pd.to_datetime(transactions['timestamp'])
print(transactions['timestamp'].dtype)

datetime64[ns]

In [17]:
transactions['hour'] = transactions['timestamp'].dt.hour

transactions['day_of_week'] = transactions['timestamp'].dt.dayofweek

transactions['month'] = transactions['timestamp'].dt.month

transactions.head()

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,hour,day_of_week,month
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,5,8
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,4,11
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,1,3
3,3485,432,73,1.0,72.20,2024-11-18 17:04:00,Cash,17,0,11
4,8929,248,11,1.0,315.22,2024-09-14 19:19:00,Cash,19,5,9

**PART B**

In [18]:
print(transactions.isnull().sum())
print()
print(products.isnull().sum())
print()
print(customers.isnull().sum())

transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
hour                0
day_of_week         0
month               0
dtype: int64

product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

In [19]:
transactions['quantity'] = transactions['quantity'].fillna(transactions['quantity'].median())
transactions['price'] = transactions['price'].fillna(transactions['price'].median())
transactions['payment_method'] = transactions['payment_method'].fillna(transactions['payment_method'].mode()[0])

In [20]:
transactions.isnull().sum()

transaction_id    0
customer_id       0
product_id        0
quantity          0
price             0
timestamp         0
payment_method    0
hour              0
day_of_week       0
month             0
dtype: int64

In [21]:
products['category']=products['category'].fillna(products['category'].mode()[0])

In [22]:
products.isnull().sum()

product_id      0
product_name    0
category        0
supplier_id     0
cost_price      0
dtype: int64

In [23]:
customers['email']=customers['email'].fillna(customers['email'].mode()[0])
customers['age']=customers['age'].fillna(customers['age'].median)

In [24]:
customers.isnull().sum()

customer_id      0
customer_name    0
email            0
signup_date      0
country          0
age              0
dtype: int64

In [25]:
transactions['revenue'] = transactions['quantity'] * transactions['price']

In [26]:
# Merge transactions with customer data
merged1 = transactions.merge(customers, on='customer_id', how='left')

# Merge with product data
full_data = merged1.merge(products, on='product_id', how='left')

In [27]:
full_data['profit_margin'] = ((full_data['price'] - full_data['cost_price']) / full_data['price']) * 100

In [28]:
full_data.shape

(10015, 21)

In [29]:
full_data.head()

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,hour,day_of_week,month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,5,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,4,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,1,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296
3,3485,432,73,1.0,72.20,2024-11-18 17:04:00,Cash,17,0,11,...,Customer_431,customer_431431@gmail.com,2023-10-29,India,64.0,Product_OFF_72,Home & Garden,31,39.53,45.249307
4,8929,248,11,1.0,315.22,2024-09-14 19:19:00,Cash,19,5,9,...,Customer_247,customer_247247@company.com,2022-09-15,Mexico,64.0,Product_TOY_10,Clothing,14,127.00,59.710678

**PART C**

In [30]:
print(full_data.head)

<bound method NDFrame.head of        transaction_id  customer_id  product_id  quantity   price  \
0                4292          130          89       1.0  112.87
1                9107          271          98       1.0  211.90
2                7842           66          33       1.0  225.04
3                3485          432          73       1.0   72.20
4                8929          248          11       1.0  315.22
...               ...          ...         ...       ...     ...
10010            2918          282         128       2.0  259.81
10011            5587          544          35       1.0   25.73
10012            7089         1549          16       3.0  205.65
10013            6327          467         111       1.0   45.31
10014            1516           77         100       1.0   88.74

                timestamp payment_method  hour  day_of_week  month  ...  \
0     2024-08-17 09:13:00    Credit Card     9            5      8  ...
1     2023-11-17 20:50:00         PayPal    20            4     11  ...
2     2023-03-21 23:23:00  Bank Transfer    23            1      3  ...
3     2024-11-18 17:04:00           Cash    17            0     11  ...
4     2024-09-14 19:19:00           Cash    19            5      9  ...
...                   ...            ...   ...          ...    ...  ...
10010 2024-01-28 01:49:00           Cash     1            6      1  ...
10011 2023-08-24 16:53:00         PayPal    16            3      8  ...
10012 2024-07-22 10:13:00  Bank Transfer    10            0      7  ...
10013 2023-03-14 09:17:00           Cash     9            1      3  ...
10014 2023-01-07 11:50:00    Credit Card    11            5      1  ...

       customer_name                        email signup_date country   age  \
0       Customer_129    customer_129129@yahoo.com  2023-12-20  Canada  40.0
1       Customer_270    customer_270270@email.com  2022-11-09   India  21.0
2        Customer_65      customer_6565@email.com  2023-08-08  Canada  62.0
3       Customer_431    customer_431431@gmail.com  2023-10-29   India  64.0
4       Customer_247  customer_247247@company.com  2022-09-15  Mexico  64.0
...              ...                          ...         ...     ...   ...
10010   Customer_281  customer_281281@company.com  2022-08-19      UK  36.0
10011   Customer_543  customer_543543@outlook.com  2023-08-08  France  51.0
10012  Customer_1548  customer_15481548@email.com  2023-07-15     USA  33.0
10013   Customer_466  customer_466466@company.com  2023-05-13     USA  38.0
10014    Customer_76      customer_7676@gmail.com  2023-07-08   India  29.0

          product_name         category supplier_id  cost_price  profit_margin
0       Product_HOM_88            Books           2       59.72      47.089572
1       Product_BOO_97    Home & Garden          26       84.89      59.938650
2       Product_BOO_32      Electronics          22      103.61      53.959296
3       Product_OFF_72    Home & Garden          31       39.53      45.249307
4       Product_TOY_10         Clothing          14      127.00      59.710678
...                ...              ...         ...         ...            ...
10010  Product_FOO_127       Automotive          15      135.50      47.846503
10011   Product_BOO_34    Home & Garden          18       18.88      26.622620
10012   Product_HOM_15            Books           3      153.92      25.154389
10013  Product_TOY_110         Clothing          31       32.30      28.713308
10014   Product_AUT_99  Food & Beverage          26       40.27      54.620239

[10015 rows x 21 columns]>

In [31]:
print(full_data.columns)

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'hour', 'day_of_week', 'month',
       'revenue', 'customer_name', 'email', 'signup_date', 'country', 'age',
       'product_name', 'category', 'supplier_id', 'cost_price',
       'profit_margin'],
      dtype='object')

In [32]:
customer_metrics = (
    full_data.groupby(['customer_id', 'customer_name', 'email'])
    .agg(
        total_revenue=('revenue', 'sum'),                 
        num_transactions=('transaction_id', 'nunique'),   
        avg_transaction_value=('revenue', 'mean'),        
        most_freq_category=('category', lambda x: x.mode()[0] if not x.mode().empty else np.nan)  # Most frequently purchased category
    )
    .reset_index()
)

customer_metrics = customer_metrics.sort_values(by='total_revenue', ascending=False)

print("Customer Metrics (Top 5):")
print(customer_metrics.head())

Customer Metrics (Top 5):
      customer_id  customer_name                          email  \
88             89    Customer_88        customer_8888@email.com
1436         1694  Customer_1693  customer_16931693@outlook.com
398           399   Customer_398      customer_398398@gmail.com
156           157   Customer_156    customer_156156@company.com
336           337   Customer_336      customer_336336@yahoo.com

      total_revenue  num_transactions  avg_transaction_value  \
88     48353.110000                 5            9670.622000
1436   26777.860000                 7            3825.408571
398    25407.690000                44             577.447500
156    21446.540000                46             466.229130
336    20460.087386                39             524.617625

     most_freq_category
88           Automotive
1436         Automotive
398                Toys
156       Home & Garden
336                Toys

In [33]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        10015 non-null  float64
 4   price           10015 non-null  float64
 5   timestamp       10015 non-null  datetime64[ns]
 6   payment_method  10015 non-null  object
 7   hour            10015 non-null  int32
 8   day_of_week     10015 non-null  int32
 9   month           10015 non-null  int32
 10  revenue         10015 non-null  float64
 11  customer_name   10015 non-null  object
 12  email           10015 non-null  object
 13  signup_date     10015 non-null  object
 14  country         10015 non-null  object
 15  age             10015 non-null  object
 16  product_name    10015 non-null  object
 17  category        10015 non-null  object
 18  supplier_id     10015 non-null  int64
 19  cost_price      10015 non-null  float64
 20  profit_margin   10015 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(3), int64(4), object(8)
memory usage: 1.5+ MB

In [34]:
full_data['month_year'] = full_data['timestamp'].dt.to_period('M')

In [35]:
full_data.month_year

0        2024-08
1        2023-11
2        2023-03
3        2024-11
4        2024-09
          ...
10010    2024-01
10011    2023-08
10012    2024-07
10013    2023-03
10014    2023-01
Name: month_year, Length: 10015, dtype: period[M]

In [36]:
monthly_metrics = full_data.groupby('month_year').agg({
    'revenue': 'sum',
    'customer_id': pd.Series.nunique,
    'transaction_id': 'count'
}).rename(columns={
    'revenue': 'total_revenue',
    'customer_id': 'unique_customers',
    'transaction_id': 'num_transactions'
}).reset_index()

monthly_metrics['avg_order_value'] = (
    monthly_metrics['total_revenue'] / monthly_metrics['num_transactions']
)

monthly_metrics['revenue_growth_%'] = monthly_metrics['total_revenue'].pct_change() * 100

monthly_metrics = monthly_metrics.sort_values('month_year')

print(monthly_metrics)

   month_year  total_revenue  unique_customers  num_transactions  \
0     2023-01  193405.812589               349               485
1     2023-02  165296.517903               313               427
2     2023-03  183939.273323               341               460
3     2023-04  183610.501489               359               476
4     2023-05  195409.945890               344               451
5     2023-06  186558.193322               350               451
6     2023-07  153394.852946               318               407
7     2023-08  158577.063314               329               409
8     2023-09  145291.399615               284               355
9     2023-10  156503.762443               304               379
10    2023-11  172462.101563               324               404
11    2023-12  181516.220329               357               456
12    2024-01  157765.972932               345               423
13    2024-02  140666.646030               296               354
14    2024-03  176385.898387               326               412
15    2024-04  157555.769147               318               402
16    2024-05  154913.459027               321               400
17    2024-06  168012.746196               330               425
18    2024-07  157997.600478               315               389
19    2024-08  192688.420757               327               401
20    2024-09  149507.433777               303               380
21    2024-10  174136.154364               326               426
22    2024-11  161083.561508               351               426
23    2024-12  168700.709894               335               417

    avg_order_value  revenue_growth_%
0        398.774871               NaN
1        387.111283        -14.533842
2        399.867985         11.278372
3        385.736348         -0.178739
4        433.281476          6.426345
5        413.654531         -4.529837
6        376.891531        -17.776405
7        387.718981          3.378347
8        409.271548         -8.378049
9        412.938687          7.717155
10       426.886390         10.196777
11       398.061887          5.249918
12       372.969203        -13.084366
13       397.363407        -10.838412
14       428.121113         25.392837
15       391.929774        -10.675530
16       387.283648         -1.677063
17       395.324109          8.455874
18       406.163497         -5.960944
19       480.519753         21.956549
20       393.440615        -22.409747
21       408.770315         16.473241
22       378.130426         -7.495625
23       404.558057          4.728694

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [37]:
product_perf = (
    full_data.groupby(['product_id', 'product_name'])
    .agg({
        'revenue': 'sum',
        'quantity': 'sum',
        'profit_margin': 'mean'
    })
).rename(columns={
    'revenue': 'total_revenue',
    'quantity': 'total_quantity_sold',
    'profit_margin': 'avg_profit_margin'
}).reset_index()

top10_revenue = product_perf.sort_values(by='total_revenue', ascending=False).head(10).reset_index()

top10_quantity = product_perf.sort_values(by='total_quantity_sold', ascending=False).head(10).reset_index()

top10_profit = product_perf.sort_values(by='avg_profit_margin', ascending=False).head(10).reset_index()

print("\n Top 10 Products by Total Revenue:\n", top10_revenue)
print("\n Top 10 Products by Quantity Sold:\n", top10_quantity)
print("\n Top 10 Products by Average Profit Margin:\n", top10_profit)

 Top 10 Products by Total Revenue:
    index  product_id     product_name  total_revenue  total_quantity_sold  \
0     97         101  Product_OFF_100   95005.120000                431.0
1     58          60   Product_OFF_59   78366.194739               1115.0
2     46          48   Product_OFF_47   71998.077896                542.0
3    112         116  Product_CLO_115   66416.407761               1209.0
4     89          92   Product_ELE_91   65408.500000                182.0
5    121         125  Product_AUT_124   56546.750931                617.0
6     73          75   Product_ELE_74   55931.400000                160.0
7    114         118  Product_AUT_117   55178.950000                215.0
8    104         108  Product_OFF_107   54293.740000                162.0
9      7           8    Product_TOY_7   52609.010000                250.0

   avg_profit_margin
0          42.570323
1         -28.056624
2         -15.166955
3        -423.012763
4          42.517918
5         -10.584249
6          41.706567
7          46.104987
8          43.971692
9          43.239548

 Top 10 Products by Quantity Sold:
    index  product_id     product_name  total_revenue  total_quantity_sold  \
0     39          41   Product_SPO_40   12267.912999               1751.0
1     36          38   Product_SPO_37   35250.288965               1475.0
2     37          39   Product_BOO_38   36993.146321               1252.0
3    112         116  Product_CLO_115   66416.407761               1209.0
4    128         132  Product_BOO_131   37658.621558               1133.0
5     26          28   Product_HOM_27   43135.583228               1122.0
6    127         131  Product_HOM_130   26517.363563               1118.0
7     58          60   Product_OFF_59   78366.194739               1115.0
8     45          47   Product_AUT_46    7826.665592               1106.0
9     14          15   Product_BOO_14   34181.890967                992.0

   avg_profit_margin
0          31.836810
1        -226.883944
2         -69.795111
3        -423.012763
4         -19.514640
5         -32.762244
6         -13.577050
7         -28.056624
8          29.267339
9         -92.233456

 Top 10 Products by Average Profit Margin:
    index  product_id     product_name  total_revenue  total_quantity_sold  \
0    117         121  Product_AUT_120        8185.02                114.0
1     83          86   Product_OFF_85       25423.32                128.0
2     85          88   Product_CLO_87        5096.55                134.0
3    100         104  Product_ELE_103       24525.85                148.0
4     20          21   Product_TOY_20       21573.64                124.0
5    114         118  Product_AUT_117       55178.95                215.0
6     79          82   Product_OFF_81        8204.31                105.0
7     81          84   Product_BOO_83       29955.75                116.0
8    136         140  Product_FOO_139        3253.60                148.0
9    137         141  Product_BEA_140       18838.93                129.0

   avg_profit_margin
0          48.587045
1          47.394337
2          47.035482
3          46.875853
4          46.346305
5          46.104987
6          45.846472
7          45.717587
8          45.642149
9          45.570574

In [38]:
latest_date = full_data['timestamp'].max()

rfm = (
    full_data.groupby('customer_id')
    .agg({
        'timestamp': lambda x: (latest_date - x.max()).days,  
        'transaction_id': 'count',                             
        'revenue': 'sum'                                       
    })
).rename(columns={
    'timestamp': 'recency_days',
    'transaction_id': 'frequency',
    'revenue': 'monetary'
}).reset_index()

rfm['R_bin'] = pd.qcut(rfm['recency_days'], q=3, labels=['High', 'Medium', 'Low'])
rfm['F_bin'] = pd.qcut(rfm['frequency'], q=3, labels=['Low', 'Medium', 'High'])
rfm['M_bin'] = pd.qcut(rfm['monetary'], q=3, labels=['Low', 'Medium', 'High'])

rfm['RFM_Segment'] = (
    rfm['R_bin'].astype(str) + '-' + 
    rfm['F_bin'].astype(str) + '-' + 
    rfm['M_bin'].astype(str)
)

rfm['R_score'] = rfm['R_bin'].map({'Low':1, 'Medium':2, 'High':3})
rfm['F_score'] = rfm['F_bin'].map({'Low':1, 'Medium':2, 'High':3})
rfm['M_score'] = rfm['M_bin'].map({'Low':1, 'Medium':2, 'High':3})

rfm['RFM_Score'] = rfm['R_score'].astype(int) + rfm['F_score'].astype(int) + rfm['M_score'].astype(int)

def segment_customer(score):
    if score >= 8:
        return 'Loyal'
    elif score >= 5:
        return 'Active'
    else:
        return 'At Risk'

rfm['Segment_Label'] = rfm['RFM_Score'].apply(segment_customer)

print(rfm.head(20))

    customer_id  recency_days  frequency     monetary   R_bin   F_bin   M_bin  \
0             1           320          5   1424.99000     Low  Medium  Medium
1             2            38          3    641.99000    High     Low     Low
2             3            38         30  11180.42000    High    High    High
3             4           172          8   4383.63000  Medium    High    High
4             5           143          5   1920.98000  Medium  Medium  Medium
5             6            12          6   2640.97000    High  Medium    High
6             7           189          3   1415.49000     Low     Low  Medium
7             8           251          3    941.25000     Low     Low     Low
8             9           243          4   3080.18000     Low  Medium    High
9            10             2         22   9368.61200    High    High    High
10           11             9         37  17411.17455    High    High    High
11           12           374          4   1320.49000     Low  Medium  Medium
12           13            25          5   1190.69000    High  Medium  Medium
13           14            33          3    505.32000    High     Low     Low
14           15           132          4   1653.16000  Medium  Medium  Medium
15           16           182          4   1370.68000  Medium  Medium  Medium
16           17           256          6   3755.64000     Low  Medium    High
17           18            26          8   2881.70000    High    High    High
18           19            14         36  11140.27000    High    High    High
19           20            20         23   7292.82000    High    High    High

             RFM_Segment R_score F_score M_score  RFM_Score Segment_Label
0      Low-Medium-Medium       1       2       2          5        Active
1           High-Low-Low       3       1       1          5        Active
2         High-High-High       3       3       3          9         Loyal
3       Medium-High-High       2       3       3          8         Loyal
4   Medium-Medium-Medium       2       2       2          6        Active
5       High-Medium-High       3       2       3          8         Loyal
6         Low-Low-Medium       1       1       2          4       At Risk
7            Low-Low-Low       1       1       1          3       At Risk
8        Low-Medium-High       1       2       3          6        Active
9         High-High-High       3       3       3          9         Loyal
10        High-High-High       3       3       3          9         Loyal
11     Low-Medium-Medium       1       2       2          5        Active
12    High-Medium-Medium       3       2       2          7        Active
13          High-Low-Low       3       1       1          5        Active
14  Medium-Medium-Medium       2       2       2          6        Active
15  Medium-Medium-Medium       2       2       2          6        Active
16       Low-Medium-High       1       2       3          6        Active
17        High-High-High       3       3       3          9         Loyal
18        High-High-High       3       3       3          9         Loyal
19        High-High-High       3       3       3          9         Loyal

**Part D**

In [39]:
def find_suspicious_transactions(full_data):
    
    cond_bulk = (full_data['quantity'] > 100) & (full_data['price'] < 10)

    hour_window = full_data.groupby(['customer_id', full_data['timestamp'].dt.floor('h')])['transaction_id'].transform('count')
    cond_hour = hour_window > 3

    suspicious_mask = cond_bulk | cond_hour

    reasons = np.where(cond_bulk, 
                       "Bulk low-price purchase", 
                       np.where(cond_hour, 
                                "Multiple purchases in 1 hour", 
                                np.nan))

    result = full_data.loc[suspicious_mask, ['transaction_id', 'customer_name']].copy()
    result['reason'] = reasons[suspicious_mask]

    return result

find_suspicious_transactions(full_data)

      transaction_id  customer_name                        reason
27               358  Customer_1231  Multiple purchases in 1 hour
108             7249   Customer_453  Multiple purchases in 1 hour
161             5808  Customer_1893       Bulk low-price purchase
196             1871   Customer_555  Multiple purchases in 1 hour
218             3269   Customer_622       Bulk low-price purchase
...              ...            ...                           ...
9816            5188  Customer_1354  Multiple purchases in 1 hour
9844            2366  Customer_1709  Multiple purchases in 1 hour
9896            3999  Customer_1941       Bulk low-price purchase
9915            4483   Customer_999       Bulk low-price purchase
9927            5970   Customer_489       Bulk low-price purchase

[252 rows x 3 columns]

In [40]:
daily_revenue = (
    full_data.groupby(full_data['timestamp'].dt.date)['revenue']
    .sum()
    .sort_index()
    .to_frame('daily_revenue')
)

daily_revenue['revenue_7d_MA'] = daily_revenue['daily_revenue'].rolling(window=7, min_periods=1).mean()

print(daily_revenue.head(20))

            daily_revenue  revenue_7d_MA
timestamp
2023-01-01    8450.390000    8450.390000
2023-01-02    5574.010000    7012.200000
2023-01-03    3094.810000    5706.403333
2023-01-04    3792.090000    5227.825000
2023-01-05    4810.720000    5144.404000
2023-01-06    4537.730000    5043.291667
2023-01-07    4908.880000    5024.090000
2023-01-08    6719.040000    4776.754286
2023-01-09   12454.351883    5759.660269
2023-01-10    2885.540000    5729.764555
2023-01-11   12970.649899    7040.987397
2023-01-12    4980.560000    7065.250255
2023-01-13    6987.310000    7415.190255
2023-01-14    6112.080931    7587.076102
2023-01-15    5038.110000    7346.943245
2023-01-16    5466.830000    6348.725833
2023-01-17    7392.810000    6992.621547
2023-01-18    3343.720000    5617.345847
2023-01-19   13508.887600    6835.678362
2023-01-20    7058.730000    6845.881219

In [41]:
full_data['signup_date'] = pd.to_datetime(full_data['signup_date'])

customer_features = (
    full_data.sort_values('timestamp')
    .groupby('customer_id')
    .agg(
        signup_date=('signup_date', 'first'),
        first_purchase=('timestamp', 'min'),
        last_purchase=('timestamp', 'max'),
        total_transactions=('transaction_id', 'count'),
        category_diversity=('category', pd.Series.nunique),
        preferred_payment=('payment_method', lambda x: x.mode()[0])
    )
)

customer_features['days_since_signup'] = (customer_features['first_purchase'] - customer_features['signup_date']).dt.days

purchase_freq = (
    full_data.sort_values('timestamp')
    .groupby('customer_id')['timestamp']
    .apply(lambda x: x.diff().dt.days.mean())
)
customer_features['purchase_frequency'] = purchase_freq

customer_features = customer_features.reset_index()
print(customer_features.head())

   customer_id signup_date      first_purchase       last_purchase  \
0            1  2022-01-28 2023-02-05 16:03:00 2024-02-15 05:18:00
1            2  2023-10-28 2023-10-30 06:36:00 2024-11-23 13:14:00
2            3  2023-04-05 2023-02-04 06:44:00 2024-11-23 03:16:00
3            4  2022-01-07 2023-04-28 16:11:00 2024-07-11 23:40:00
4            5  2022-12-15 2023-05-19 02:58:00 2024-08-09 23:01:00

   total_transactions  category_diversity preferred_payment  \
0                   5                   3            PayPal
1                   3                   2     Bank Transfer
2                  30                   3     Bank Transfer
3                   8                   3     Bank Transfer
4                   5                   2     Bank Transfer

   days_since_signup  purchase_frequency
0                373           93.250000
1                  2          194.500000
2                -60           22.137931
3                476           62.285714
4                155          111.750000

**PART E**

In [42]:
full_data['age'] = pd.to_numeric(full_data['age'], errors='coerce')

In [43]:
result= full_data.loc[(full_data['age'] > 25) & (full_data['country'] == 'USA'), 'customer_id']
print(result.head())

8      27
13    203
14    899
19     27
23    590
Name: customer_id, dtype: int64

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [44]:
import time

start = time.time()
result_loop = []
for idx, row in full_data.iterrows():
    if row['age'] > 25 and row['country'] == 'USA':
        result_loop.append(row['customer_id'])
end = time.time()
print("Loop time:", end - start, "seconds")


start = time.time()
result= full_data.loc[(full_data['age'] > 25) & (full_data['country'] == 'USA'), 'customer_id']
end = time.time()
print("Vectorized time:", end - start, "seconds")

Loop time: 0.4718141555786133 seconds
Vectorized time: 0.0025031566619873047 seconds

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [45]:
def customer_lifetime_value(transactions_df, customer_id, discount_rate=0.1):
    
    cust_tx = transactions_df.loc[transactions_df['customer_id'] == customer_id].copy()
    if cust_tx.empty:
        return 0.0

    cust_tx['timestamp'] = pd.to_datetime(cust_tx['timestamp'])

    cust_tx['month_index'] = ((cust_tx['timestamp'] - cust_tx['timestamp'].min()) / np.timedelta64(30, 'D')).astype(int)

    cust_tx['discount_factor'] = (1 - discount_rate) ** cust_tx['month_index']
    cust_tx['discounted_revenue'] = cust_tx['revenue'] * cust_tx['discount_factor']

    return cust_tx['discounted_revenue'].sum()


clv_customer_101 = customer_lifetime_value(full_data, customer_id=101,discount_rate=0.1)
print(f"Customer 101 CLV: â‚¹{clv_customer_101:.2f}")

Customer 101 CLV: â‚¹532.69

**BONUS TASK**

In [46]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.14.3-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.14.3-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.2/3.2 MB 30.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.14.3
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
from rapidfuzz import process, fuzz

def find_duplicate_customers(customers_df, transactions_df):
    
    customers_df['email_domain'] = customers_df['email'].str.split('@').str[-1]

    names = customers_df['customer_name'].tolist()
    scores = process.cdist(names, names, scorer=fuzz.token_sort_ratio)
    idx_pairs = [(i, j) for i in range(len(names)) for j in range(i + 1, len(names))]
    name_scores = [scores[i, j] for i, j in idx_pairs]

    name_df = pd.DataFrame(idx_pairs, columns=['i', 'j'])
    name_df['name_score'] = name_scores
    name_df = name_df[name_df['name_score'] > 85]

    merged = name_df.merge(customers_df[['customer_id', 'email_domain']],
                           left_on='i', right_index=True)
    merged = merged.merge(customers_df[['customer_id', 'email_domain']],
                          left_on='j', right_index=True,
                          suffixes=('_1', '_2'))

    merged['same_domain'] = (merged['email_domain_1'] == merged['email_domain_2']).astype(int)

    tx = transactions_df[['customer_id', 'product_id', 'timestamp']].copy()
    tx['timestamp'] = pd.to_datetime(tx['timestamp'])

    overlap = (tx.merge(tx, on='product_id', suffixes=('_1', '_2'))
                 .query('customer_id_1 != customer_id_2'))

    overlap = overlap[abs(overlap['timestamp_1'] - overlap['timestamp_2']).dt.days <= 7]

    overlap_flag = (overlap.groupby(['customer_id_1', 'customer_id_2'])
                           .size().reset_index(name='txn_overlap'))

    final = (merged.merge(overlap_flag,
                          left_on=['customer_id_1', 'customer_id_2'],
                          right_on=['customer_id_1', 'customer_id_2'],
                          how='left')
                  .fillna({'txn_overlap': 0}))

    final['confidence'] = (
        0.5 * (final['name_score'] / 100)
        + 0.3 * final['same_domain']
        + 0.2 * (final['txn_overlap'] > 0).astype(int)
    )

    return final[['customer_id_1', 'customer_id_2', 'name_score', 'same_domain', 'txn_overlap', 'confidence']] \
        .sort_values('confidence', ascending=False)

In [48]:
result= find_duplicate_customers(customers, transactions)
print(result)

       customer_id_1  customer_id_2  name_score  same_domain  txn_overlap  \
31462            118           1172   96.000000            1          1.0
73383            198           1498   96.000000            1          1.0
72082            195           1985   96.000000            1          1.0
37314            129           1284   96.000000            1          1.0
42598            139           1359   96.000000            1          1.0
...              ...            ...         ...          ...          ...
2707              34             84   85.714287            0          0.0
2706              34             83   85.714287            0          0.0
2705              34             82   85.714287            0          0.0
2704              34             81   85.714287            0          0.0
3587              49            635   85.714287            0          0.0

       confidence
31462    0.980000
73383    0.980000
72082    0.980000
37314    0.980000
42598    0.980000
...           ...
2707     0.428571
2706     0.428571
2705     0.428571
2704     0.428571
3587     0.428571

[214139 rows x 6 columns]